/* Reset and base styles  */
body {
  position: relative;
  overflow-x: hidden;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: var(--page-bg);
  color: var(--text-color-dark);

  font-family: var(--font-main);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02rem;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}