.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;

  // .container-right {
  //   /* overflow-x: hidden; */
  //   padding-left: calc(
  //     (100% - var(--container-width)) / 2 + var(--container-padding)
  //   );
  
  //   @media (max-width: var(--laptop-size)) {
  //     padding-left: var(--container-padding);
  //   }
  // }
  
  // .container-left {
  //   /* overflow-x: hidden; */
  //   padding-right: calc(
  //     (100% - var(--container-width)) / 2 + var(--container-padding)
  //   );
  
  //   @media (max-width: var(--laptop-size)) {
  //     padding-right: var(--container-padding);
  //   }
  // }

  @include mediaMobileXS {
		max-width: calc(460px + var(--container-padding)*2);
	}

  @include mediaMobile {
    max-width: calc(640px + var(--container-padding)*2);
  }

  @include mediaTablet {
    --container-padding: 20px;
    max-width: calc(960px + var(--container-padding)*2);
  }

  @include mediaLaptop {
    max-width: calc(1200px + var(--container-padding)*2);
  }
}