:root {
  --container-width: 1200px;
	--container-padding: 10px;

	--font-main: 'Open Sans', sans-serif;
  --font-title: 'Cormorant', serif;
	--font-size: 16px;

	--color-bg: #fff;
  --color-bg-light: #F7F2EA;
  --color-white: #fff;
  --color-black: #151618;
  --color-brown: #754E29;
  --color-light-green: #B8B58B;
}