.collection {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    flex-basis: 180px;
  }

  &__item-title {
    text-align: center;
  }
}

.colection {

  &__item-img {}
}