.nav {

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {

    &:nth-child(1) {
      padding-bottom: 10px;
    }
  }

  &__link {
    font-weight: 300;

    &:hover {
      color: var(--color-brown);
    }
  }
}