.reviews {
  margin-bottom: 50px;
  padding-block: 50px;
  background-color: var(--color-bg-footer);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__comment {
    margin-bottom: 10px;
    font-size: 16px;
font-style: italic;
font-weight: 300;
line-height: normal;
  }

  &__author {
    font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
}
.container {
}
.title-2 {
}
